name: Update Stars

on:
  schedule:
    - cron: '0 4 * * *'    # 每天北京时间12点（UTC4点）自动运行（可修改为你想要的频率）
  workflow_dispatch:      # 允许手动触发

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install starred
        run: pip install starred
      - name: Generate README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STARRED_GITHUB_TOKEN: ${{ secrets.STARRED_GITHUB_TOKEN }}
        run: |
          starred --username WuXiangM --token $STARRED_GITHUB_TOKEN --sort > README.md
      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "update stars [bot]" || echo "No changes to commit"
          git remote set-url origin https://x-access-token:${STARRED_GITHUB_TOKEN}@github.com/${{ github.repository }}.git
          git push origin HEAD:main     # git push
